<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img src="https://image.freepik.com/free-vector/man-with-map-smartphone-renting-car-driver-using-car-sharing-app-phone-searching-vehicle-vector-illustration-transport-transportation-urban-traffic-location-app-concept_74855-10109.jpg" alt=""/>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center p-0 align-items-center flex-column">
        <h1>Book Your Slot now at</h1>
        <br>
        <h1><b>Book-A-Lot!</b></h1>
        <br>
        <h3>Booking your parking slot has never been easier.</h3>
        <br>
        <br>
        <div class="">
            <!-- <input class="getquote" type="text" placeholder="Parking Slot"> -->
            <button class="getquotebtn"(click)='checkSession()' >Book your slot Now!</button>
        </div>
    </div>
</div>